* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: sans-serif;
}

header {
    display: flex;
    align-items: center;
    border-bottom: 1px solid rgb(224, 223, 223);
    
}

.headerLeft{
    display: flex;
    align-items: center;
}

.logo {
    padding: 22px 20px;
}

.location{
    border-left: 1px solid rgb(224, 223, 223);
    padding: 18px 80px;
}

.location h3{
    font-size: 18px;
    font-weight: 800;
}
.location p{
    font-size: 14px;
    margin-top: 5px;
}

.searchBar {
    flex-grow: 1;
    display: flex;
    border-radius: 10px;
    background-color: rgb(243, 241, 241);
}

.searchBar button {
    padding: 18px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border: none;
    background: transparent;
}

.searchBar input {
    flex-grow: 1;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border: none;
    background: transparent;
}

.searchBar input:focus{
    outline: none;
}

.headerRight{
    display: flex;
    padding: 20px;
    gap: 20px;
}

.headerRight > .login, .cart{
    padding: 10px 20px;
    border: 1px solid salmon;
    border-radius: 10px;
}

.login:hover, .cart:hover{
    color: white;
    background-color: rgb(175, 214, 175);
    border: none;
}

.bannerSection {
    margin: auto;
    max-width: 1291px;
}
.bannerSection .web-img{
    width: 100%;
}
.bannerSection .mobile-img{
    display: none;
    width: 100%;
}

/* For Service Banner */

.serviceBanner {
    display: flex;
    max-width: 1291px;
    margin: auto;
}

.serviceBanner .bannerItem{
    flex-basis: 27%;
    margin: 1%;
}

.serviceBanner .bannerItem img{
    width: 100%;
}

/* category section */
.categorySection {
    display: flex;
    flex-wrap: wrap;
    max-width: 1291px;
    margin: auto;
}

.categorySection .categoryItem{
    flex-basis: 10%;
    margin: 2%;
}

.categorySection .categoryItem img{
    width: 100%;
    border-radius: 5%;
}

/* Product List */

.productListSection {
    max-width: 1291px;
    margin: auto;
}


.productListItems {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin: 30px 0px;
}


.productItem{
    box-shadow: 2px px #93CA95;
    border-radius: 10px;
    flex-basis: 15%;
}


.productItem{
    border: 1px solid black;
    text-align: center;
}

.imageSection{
    text-align: center;
}
.imageSection img{
    width: 70%;
}

.timerSection {
    display: flex;
    gap: 5px;
    background-color: rgb(167, 165, 165);
    width: 111px;
    color: white;
    /* justify-content: center; */
    /* text-align: center; */
    padding: 2px;
    /* padding-top: 0px; */
    margin-top: 0px;
    align-items: center;
}

.timerSection img {
    width: 30px;
    height: 30px;
}

.productDesc{
    padding: 20px;
    text-align: left;
    line-height: 40px;
    border-top: 1px solid;
}

.productDesc h2{
    font-size: 12px !important;
    padding-right: 20px;
    font-weight: 600;
    line-height: 20px;
}

.productDesc .productFooter{
    display: flex;
    justify-content: space-between;
}

.productFooter button{
    padding: 5px 20px;
    border-radius: 10px;
    background-color: rgb(182, 200, 154);
    color:rgb(255, 255, 255);
    border:none;
}

.productFooter p{
    color: black !important;
    font-size: 22px;
}

.productDesc p{
    color: rgb(193, 185, 185);
}

.productDesc h2{
    font-size: 20px;
    padding-right: 20px;
}

/* Footer */

footer {
    max-width: 1291px;
    margin: auto;
    margin-top: 110px;
}


.footer-first-row {
    display: flex;
}

.footer-first-row-col1{
    flex-basis: 30%;
    font-size: 20px;
}
.footer-first-row-col2{
    flex-basis: 70%;
    font-size: 20px;
}

.footer-first-row-col2-heading{
    display: flex;
    align-items: center;
    gap: 20px;
}

.footer-first-row-col2-heading p > a{
    color: green;
    text-decoration: none;
}

.useful_links{
    display: flex;
    gap: 10px;
    margin-right: 40px;
}
.useful_links ul{
    list-style: none;
    font-size: 15px;
    margin-top: 20px;
    flex-basis: 30%;
}
.useful_links ul li{
   margin: 10px;
   color: #666;
   font-size: 14px;
   margin-bottom: 11px;
}

.categoryList{
    display: flex;
    gap: 60px;
    margin-top: 26px;
}

.categoryList ul{
    list-style: none;
    font-size: 15px;
    margin-top: 20px;
    flex-basis: 33%;
}

.categoryList ul li{
    margin: 10px;
    color: #666;
    font-size: 14px;
    margin-bottom: 11px;
 }

 footer .heading-tag{
    font-size: 20px;
 }

 .footer-second-row{
    display: flex;
    justify-content: space-around;
    text-align: left;
    background-color: rgb(252, 252, 252);;
    padding: 20px;
    align-items: center;
 }

 .footer-second-row-second-column{
    display: flex;
    align-items: center;
    gap: 20px;
}

 
 .footer-second-row-second-column img{
    height: 40px;
    width: 90px;
 }

 .footer-second-row-third-column{
    display: flex;
    gap: 20px;
 }

 .footer-second-row-first-column{
    font-size: 12px;
 }

 .footer-second-row-second-column h3{
    font-size: 15px;
 }